header {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  background-image: linear-gradient(white 0%, white 63%, #26aae1 63%, #26aae1 100%);
}

.header {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.header-top {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-top a {
  height: 92px;
}
.header-top a img {
  width: 250px;
}
.header-top h1 {
  margin: 8px;
  padding: 0;
  width: 300px;
  text-align: center;
}
.header-top .input {
  border: 2px solid rgb(243, 111, 3);
  color: rgb(243, 111, 3);
  width: 200px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}
.header-top .input:hover {
  background-color: rgb(243, 111, 3);
  color: white;
}
.header-top .back-coll {
  color: #26aae1;
  width: 300px;
  height: 92px;
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
.header-top .back-coll:hover {
  color: #0f96cf;
}

.head-bottom {
  display: flex;
  justify-content: space-between;
}
.head-bottom .info {
  width: 860px;
  display: flex;
  justify-content: space-between;
}
.head-bottom .info a {
  color: white;
  font-size: 20px;
  height: 60px;
  padding: 0 17px;
  line-height: 60px;
  text-decoration: none;
  box-sizing: border-box;
}
.head-bottom .info a:hover {
  background-color: rgb(243, 111, 3);
}
.head-bottom .socials-icon {
  box-sizing: border-box;
  margin-right: 30px;
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-bottom .socials-icon a {
  box-sizing: border-box;
  font-size: 20px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.head-bottom .socials-icon a:first-child {
  color: rgb(7, 187, 7);
}
.head-bottom .socials-icon a:nth-child(3) {
  color: red;
}
.head-bottom .socials-icon a:last-child {
  color: orangered;
}


section{
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  
}
.section{
  margin: 0 auto;
  width: 1200px;
  padding: 0 20px;
}
.section h1{
  letter-spacing: 3px;
  word-spacing: 7px;
  
}
.section hr{
  opacity: 0.1;
}
.section ul li{
  letter-spacing: 1px;
}
.section p{
  letter-spacing: 1px;
}
.section a{
  text-decoration: none;
  color: #0f96cf;
}

.form{
  margin-top: 20px;
  border-top: 5px solid rgba(165, 42, 42, 0.5);
  border-bottom: 5px solid rgba(165, 42, 42, 0.5);
background-color:  rgb(243, 111, 3) ;
padding-top: 20px;
}
.form div{
  display: flex;
  justify-content: center;
}
.form :first-child h2{
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
}
.form :first-child h2 a{
  color: #47585f;
  font-weight:600;
  transition: 00.5s;
}
.form :first-child h2 a:hover{
  color: white;
}
.form :nth-child(2) h3{
  color: white;
  letter-spacing: 2px;

}
.form :nth-child(3) a{
  color: white;
  padding: 0 15px;
  border: 2px solid white;
  letter-spacing: 2px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  margin-top: 25px;
  transition: 0.5s;
}
.form :nth-child(3) a:hover{
  background-color: white;
  color: rgb(243, 111, 3) ;
}
.form .calc{
  color: #47585f ;
  transition: 0.5s;
}
.form .calc:hover{
  color: white;
}

.selectWork>*{
  /* border: 1px solid greenyellow; */
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.selectWork{
 
  padding-left: 0;
  margin-left: -20px;
  margin-right: -20px;
}
.selectWork li{
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px;
  margin-top: 15px;
  height: 30px;
  background-color: #0f96cf ;
  color: white;
  transition: 0.5s;
}
.selectWork li:hover{
  letter-spacing: 4px;
  cursor: pointer;
  /* font-size: 23px; */
}

footer{

 background-color: #47585f;
}

.footer  h2{
  letter-spacing: 2px;
  margin-bottom: 0;
  
}
.footer > h2{
  color: white;
}
.footer a:hover{
  color: white;
}
.footer{
  padding: 20px;
  /* border: 1px solid burlywood; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 478px) {
  
  body{ 
    display: flex;
    flex-direction: column;
 justify-content: left;
   
  }
  header{
    
   
    width: 480px;
  }
  .header{
    
   
    width: 480px;
  }
  .header-top{
    flex-wrap: wrap;
    height: 230px;
    padding-bottom: 40px;
   
  }
  .header-top a img {
    width: 150px;
  }

  .header-top .input {
    border: 2px solid rgb(243, 111, 3);
    color: rgb(243, 111, 3);
    width: 150px;
    height: 80px;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
  }



  .head-bottom {
  height: 150px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .head-bottom .info {
  display: flex;
  justify-content: start;
  gap: 18px;
  padding-left: -20px;
  }
  .head-bottom .info:first-child{
    margin-left: -0px;
  }
  
  .head-bottom .info a {

    border: 1px solid red;
   
    color: white;
    font-size: 12px;
    height: 50px;
    padding: 20px 3px;
    line-height: 20px;
    text-decoration: none;
    box-sizing: border-box;
    width: 50px;
  }


  .head-bottom .socials-icon {
    /* border:   1px solid red; */
  
    margin-right: ;
    width: 600px;
  gap: 30px;
    justify-content: start;
 
  }
  




    .section{
    margin: 0 auto;
    width: 450px !important; 
   
  }
  .form :first-child h2{
    font-size: 20px;
    letter-spacing: 0px;
    margin: 0 auto;
  }
  footer{ 
    padding-left: 0;
    width: 480px;
    margin: 0 auto;
  }
  .footer{
    margin: 0 auto;
    width: 480px;
  
   }
}

@media screen and (max-width: 780px){

 header{
  /* border: 1px solid red; */
  justify-content: end;
  margin-right: -420px;
 }
 .header-top{
  margin-left: -30px;
  justify-content: center;
 }
 .head-bottom{
  width: 760px;
  justify-content: space-between;
  
 }
 .head-bottom .info{
  margin-left: 30px;
 }
 section{
  padding-right: 50px;
 
}
.footer{
  /* border: 1px solid red; */
  background-color: #47585f ;
}
footer{ 
  /* border: 1px solid red; */
  width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
