header {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(white 0%, white 63%, #26aae1 63%, #26aae1 100%);
}

.header {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.header-top {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-top a {
  height: 92px;
}
.header-top a img {
  width: 250px;
}
.header-top h1 {
  margin: 8px;
  padding: 0;
  width: 300px;
  text-align: center;
}
.header-top .input {
  border: 2px solid rgb(243, 111, 3);
  color: rgb(243, 111, 3);
  width: 200px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}
.header-top .input:hover {
  background-color: rgb(243, 111, 3);
  color: white;
}
.header-top .back-coll {
  color: #26aae1;
  width: 300px;
  height: 92px;
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
.header-top .back-coll:hover {
  color: #0f96cf;
}

.head-bottom {
  display: flex;
  justify-content: space-between;
}
.head-bottom .info {
  width: 860px;
  display: flex;
  justify-content: space-between;
}
.head-bottom .info a {
  color: white;
  font-size: 20px;
  height: 60px;
  padding: 0 17px;
  line-height: 60px;
  text-decoration: none;
  box-sizing: border-box;
}
.head-bottom .info a:hover {
  background-color: rgb(243, 111, 3);
}
.head-bottom .socials-icon {
  box-sizing: border-box;
  margin-right: 30px;
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-bottom .socials-icon a {
  box-sizing: border-box;
  font-size: 20px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.head-bottom .socials-icon a:first-child {
  color: rgb(7, 187, 7);
}
.head-bottom .socials-icon a:nth-child(3) {
  color: red;
}
.head-bottom .socials-icon a:last-child {
  color: orangered;
}

section>*{
  border: 1px solid red;
}
section{
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  /* justify-content: end;
  justify-items: end;
  align-items: flex-end; */
 
}
.section{
  margin: 0 auto;
  width: 1200px;
  padding: 0 20px;
}
.section h1{
  letter-spacing: 3px;
  word-spacing: 7px;
  
}
.section hr{
  opacity: 0.1;
}
.section ul li{
  letter-spacing: 1px;
}
.section p{
  letter-spacing: 1px;
}
.section a{
  text-decoration: none;
  color: #0f96cf;
}
.form>*{
  /* border: 1px solid greenyellow; */

}
.form{
  margin-top: 20px;
  border-top: 5px solid rgba(165, 42, 42, 0.5);
  border-bottom: 5px solid rgba(165, 42, 42, 0.5);
background-color:  rgb(243, 111, 3) ;
padding-top: 20px;
}
.form div{
  display: flex;
  justify-content: center;
}
.form :first-child h2{
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
}
.form :first-child h2 a{
  color: #47585f;
  font-weight:600;
  transition: 00.5s;
}
.form :first-child h2 a:hover{
  color: white;
}
.form :nth-child(2) h3{
  color: white;
  letter-spacing: 2px;

}
.form :nth-child(3) a{
  color: white;
  padding: 0 15px;
  border: 2px solid white;
  letter-spacing: 2px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  margin-top: 25px;
  transition: 0.5s;
}
.form :nth-child(3) a:hover{
  background-color: white;
  color: rgb(243, 111, 3) ;
}
.form .calc{
  color: #47585f ;
  transition: 0.5s;
}
.form .calc:hover{
  color: white;
}
/*# sourceMappingURL=style.css.map */
